body {
    background-color: #ae8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    justify-content: center;
    align-items: center;

    button {
        background-color: #c72525;
        justify-content: center;
        align-items: center;
    }
}


.container {
    width: 500%;
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    box-shadow: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: rgb(147, 122, 89);
}

.box button {
    padding: 20px;
    font-size: 20px;

    background-color: #c5b0b0;
    border: 2px solid #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(246, 230, 230);
}

.reset-btn {
    padding: 20px;
    /* gap: 10px; */
    /* background-color: #6f5959c8; */
    /* font-size: 20px; */
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    height: 50px;
    margin: auto;
}

.hide {
    display: none;
}